body {
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    font-family: Arial;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

#ima {
    float: left;
    margin-left: 70%;
    position: absolute;
}

hr {
    border-color: #f7dc6f;
}

h1 {
    border: 2px solid #f7dc6f;
    background-color: #f7dc6f;
}

h3 {
    border: 2px solid #f7dc6f;
    background-color: #f7dc6f;
}

#der {
    color: black;
    float: right;
    margin-left: 50px;
    margin-top: 60%;
    border: 2px solid #f7dc6f;
    background-color: #f7dc6f;
}

#filigrana {
    margin-left: 35%;
    margin-top: 10%;
    float: left;
    width: 35%;
    height: 3px;
    position: absolute;
    background-color: #f7dc6f;
}

#contenedor {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: 3px solid #f7dc6f;
    height: auto;
    width: 300px;
    float: left;
    margin-top: 3%;
    margin-left: 12%;
    overflow: scroll;
    padding: 1%;
    font-family: Arial;
    font-weight: bold;
}

#sub {
    float: left;
}

#centrados {
    margin-left: 20px;
    text-decoration: white;
}

.botones {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f7dc6f;
    background-color: white;
    float: left;
}

#linea {
    height: 3px;
    background-color: #f7dc6f;
    width: 200px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.botones:hover {
    background-color: #f7dc6f;
}