body {
    background-image: url('fondo.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

#contenedor {
    border: 3px solid #f7dc6f;
    background-color: white;
    width: 300px;
    height: 250px;
    float: left;
    margin-top: 5%;
    margin-left: 12%;
}

p {
    font-family: sans-serif;
}

#botones {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #f7dc6f;
    background-color: white;
}

#inicio {
    margin-left: 10%;
}

#botones:hover {
    background-color: #f7dc6f;
}