body {
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

#margen {
    border-left: 4px solid #f7dc6f;
    float: left;
}

#contenedor {
    border: 2px solid #f7dc6f;
    height: 617px;
    width: 78%;
    background-color: white;
    float: left;
    margin-left: 10%;
    overflow: scroll;
}

#latabla {
    height: 300px;
    width: 370px;
    overflow: scroll;
}

#sub {
    text-decoration: none;
    border-bottom: 2px solid #f7dc6f;
}

#misarticulos {
    width: 520px;
    float: left;
    margin-left: 10%;
    border-right: 3px solid #f7dc6f;
}

#confirmacion {
    margin-top: 150px;
    float: left;
    margin-left: 660px;
    position: fixed;
}

#raya {
    height: 2px;
    margin-top: 4%;
    width: 300px;
    background-color: #f7dc6f;
}

#carrito {
    max-width: 25px;
    max-height: 25px;
}

.tamimg {
    max-width: 180px;
    max-height: 240px;
    border-right: 7px solid #f7dc6f;
    border-top: 4px solid #f7dc6f;
    border-bottom: 4px solid #f7dc6f;
    border-left: 4px solid #f7dc6f;
}

.botones {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-top: 2px solid #f7dc6f;
    border-right: 3px solid #f7dc6f;
    border-bottom: 3px solid #f7dc6f;
    border-left: 1px solid #f7dc6f;
    background-color: white;
    float: left;
}

.botonescon {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: 3px solid #f7dc6f;
    background-color: white;
    float: left;
}

.botonescon:hover {
    background-color: #f7dc6f;
}

.botones:hover {
    background-color: #f7dc6f;
}

.botonesquit {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    border: 2px solid #f7dc6f;
    background-color: white;
    float: right;
}

.botonesquit:hover {
    background-color: #f7dc6f;
}

#botonconfir {
    margin-top: 2%;
    float: left;
}

#resultadocarro {
    float: right;
    padding: 2%;
}

#logo {
    max-height: 120px;
    max-width: 120px;
    float: right;
    margin-right: 76px;
}

#fecha {
    float: right;
    margin-left: 10px;
    border: 2px 2px 2px 2px solid #f7dc6f;
}

#cesta {
    float: right;
    margin-left: 20px;
    border: 2px 2px 2px 2px solid #f7dc6f;
}

hr {
    color: #f7dc6f;
}